.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 750px;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .button {
        width: 150px;
        height: 50px;
        margin-top: 30px;
        border-radius: 12px;
    }
}