.wrapper {
    min-width: 300px;
    background-color: #000b3a !important;
    border-radius: 12px;
    min-height: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}